<body></body>
<script>
    function generateHex(length) {
      let result = ''; 
      let allowedSymbols = '0123456789ABCDEF';
      for (let i = 1; i <= length; i++) {
        result += allowedSymbols[Math.floor(Math.random() * allowedSymbols.length)];
      }
      return result;
    }

  let ourDiv = document.createElement('div');
    ourDiv.style.width = '200px';
      ourDiv.style.height = '200px';
    ourDiv.style.position = 'absolute'
    ourDiv.style.top = '50%';
      ourDiv.style.left = '50%';
      ourDiv.style.marginTop = "-100px";
      ourDiv.style.marginLeft = "-100px";
    ourDiv.style.background = #${generateHex(6)};
      
      document.body.appendChild(ourDiv);
      ourDiv.addEventListener('click', event => event.srcElement.style.background = #${generateHex(6)});
</script>